.sceneContainer,
.positionEditorContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.treeContainer {
    margin-top: 50px;
    width: 300px;
}

.treeContainer.wideTree {
    width: 450px;
}

.treeContainer .nav {
    margin-top: -42px;
    background-color: rgba(222, 222, 222, 0.8);
    border-radius: 5px 5px 0 0;
}

.treeContainer .tab-content {
    background-color: #f7f7f7;
    padding: 10px;
    height: 100%;
}

.full-height {
    height: 100%;
}

.treeContainer .tab-content .treeList {
    overflow-y: auto;
    height: 100%;
    padding: 10px;
    margin: 10px -10px -10px -10px;
}

.attribute-label {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}

.attribute-input {
    width: 50%;
    padding-left: 10px;
    position: relative;
}

.attribute-input .inputOverlay,
.modalAttributeInput .inputOverlay {
    position: absolute;
    right: 11px;
    top: 6px;
}
.attribute-input .hasOverlay,
.modalAttributeInput .hasOverlay {
    padding-right: 38px;
}

.modalAttributeInput {
    position: relative;
}

/**
 * PieceContainer-Position-Editor
 */
.positionEditorContainer {
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}
.alert-white {
    background-color: #fff;
    border-color: #eee;
}
.overflow-auto {
    overflow: auto;
}
.positionTemplateContainer {
    overflow: hidden;
    margin: auto;
    position: relative;
}
.positionTemplateContainer .positionTemplateBackground {
    background-color: #000;
    background-position: center;
}
.positionTemplateContainer .point {
    position: absolute;
    left: -100000000px;
    top:  -100000000px;
    background-color: #fff;
    border: 2px solid #000;
}
.positionTemplateContainer.deletePoint .point:hover {
    background-color: #f33;
    border: 1px solid #f11;
}
.positionTemplateContainer.createJoint .point:hover,
.positionTemplateContainer.createJoint .point.selected {
    background-color: #afa;
    border: 1px solid #8f8;
}
.positionTemplateContainer .positionTemplateBackground,
.positionTemplateContainer .arrowContainer {
    position: absolute;
    left: 0;
    top: 0;
}