<div class="sceneContainer" #sceneContainer></div>
<div class="overlay d-flex flex-column pointer-none">
    <div class="flex-grow-1 d-flex">
        <div class="treeContainer pointer-auto">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#game-create-elements" role="tab">Elemente</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#game-create-sequence" role="tab">Ablauf</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane full-height active" id="game-create-elements" role="tabpanel">
                    <div class="full-height d-flex flex-column">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Element hinzufügen</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <ng-container *ngFor="let type of elementTypes">
                                    <div class="row">
                                        <div class="col">
                                            <a class="dropdown-item" href="#" (click)="addElement(type.key)">{{type.label}}</a>
                                        </div>
                                        <div class="col col-auto" *ngIf="type.bulk">
                                            <a class="dropdown-item" href="#" (click)="startBulkCreate(type.key)">+mehrere</a>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="treeList flex-grow-1">
                            <div class="list-group">
                              <a href="#" *ngFor="let element of elements; let i = index" class="list-group-item" [ngClass]="{'active': currentElementIndex == i}" (click)="selectElement(i)">{{element.id}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane full-height" id="game-create-sequence" role="tabpanel">
                    foobar
                </div>
            </div>
        </div>
        <div class="flex-grow-1"></div>
        <div class="treeContainer wideTree pointer-auto" *ngIf="currentElementIndex !== null">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item"><a class="nav-link active"  data-toggle="tab" href="#game-create-attributes">{{elements[currentElementIndex].id}}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane full-height active d-flex flex-column" id="game-create-attributes" role="tabpanel">
                    <div class="treeList flex-grow-1">
                        <ul class="list-group">
                            <ng-container *ngFor="let option of getElementDefinition(elements[currentElementIndex].type).options">
                                <li class="list-group-item" *ngIf="option.type !== 'hidden'">
                                    <label class="attribute-label" [for]="'game-create-attributes-' + option.key">{{option.label}}</label>
                                    <div class="attribute-input">
                                        <ng-container *ngIf="option.type === 'length'">
                                            <input [id]="'game-create-attributes-' + option.key" class="form-control hasOverlay" type="number" step="0.1" min="0.1" max="200" [value]="elements[currentElementIndex].element[option.key]" (input)="updateAttribute(option.key, $event.target.value)">
                                            <span class="inputOverlay">cm</span>
                                        </ng-container>
                                        <ng-container *ngIf="option.type === 'select'">
                                            <select [id]="'game-create-attributes-' + option.key" class="form-control" (change)="updateAttribute(option.key, $event.target.value)">
                                                <option [value]="value.key" *ngFor="let value of option.values" [selected]="elements[currentElementIndex].element[option.key] == value.key ? 'selected' : ''">{{value.label}}</option>
                                            </select>
                                        </ng-container>
                                        <ng-container *ngIf="option.type === 'rotation'">
                                            <input [id]="'game-create-attributes-' + option.key" class="form-control hasOverlay" type="number" step="1" min="0" max="360" [value]="elements[currentElementIndex].element[option.key]" (input)="updateAttribute(option.key, $event.target.value)">
                                            <span class="inputOverlay">°</span>
                                        </ng-container>
                                        <ng-container *ngIf="option.type === 'image'">
                                            <input [id]="'game-create-attributes-' + option.key" class="form-control" type="file" value="" (change)="updateAttribute(option.key, $event.target.value)">
                                        </ng-container>
                                        <ng-container *ngIf="option.type === 'color'">
                                            <input [id]="'game-create-attributes-' + option.key" class="form-control" type="text" [value]="elements[currentElementIndex].element[option.key]" (input)="updateAttribute(option.key, $event.target.value)">
                                        </ng-container>
                                        <ng-container *ngIf="option.type === 'model'">
                                            <input [id]="'game-create-attributes-' + option.key" class="form-control" type="file" value="" (change)="updateAttribute(option.key, $event.target.value)">
                                        </ng-container>
                                        <ng-container *ngIf="option.type === 'text'">
                                            <input [id]="'game-create-attributes-' + option.key" class="form-control" type="text" [value]="elements[currentElementIndex].element[option.key]" (input)="updateAttribute(option.key, $event.target.value)">
                                        </ng-container>
                                        <ng-container *ngIf="option.type === 'pieceContainer_v1_positions'">
                                            <button class="btn btn-secondary btn-block" (click)="startPositionEditor()">Zum Positionseditor</button>
                                        </ng-container>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="bulkCreateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (submit)="bulkCreate()" *ngIf="bulkCreateKey">
                <div class="modal-header">
                    <h5 class="modal-title">Mehrere {{getElementDefinition(bulkCreateKey).labelPlural}} erstellen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>1. Anzahl festlegen</h5>

                    <ng-container *ngIf="getElementDefinition(bulkCreateKey).bulk.type == 'count'">
                        <div class="form-group row">
                            <label for="game-create-bulkcreate-count" class="col-6 col-form-label">Anzahl:</label>
                            <div class="col-6">
                                <input type="number" min="1" class="form-control" id="game-create-bulkcreate-count" value="1" (input)="bulkCreateCount = $event.target.value">
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="getElementDefinition(bulkCreateKey).bulk.type == 'file'">
                        <div class="form-group row">
                            <label [for]="'game-create-bulkcreate-' + getElementDefinition(bulkCreateKey).bulk.key" class="col-6 col-form-label">{{getOptionDefinition(bulkCreateKey, getElementDefinition(bulkCreateKey).bulk.key).label}}:</label>
                            <div class="col-6">
                                <input [id]="'game-create-bulkcreate-' + getElementDefinition(bulkCreateKey).bulk.key" class="form-control" type="file" multiple value="" (change)="setBulkCountByFileInput()">
                            </div>
                        </div>
                    </ng-container>

                    <h5>2. Gleiche Eigenschaften für alle festlegen</h5>

                    <ng-container *ngFor="let option of getElementDefinition(bulkCreateKey).options">
                        <div class="form-group row" *ngIf="option.type !== 'hidden' && option.key !== getElementDefinition(bulkCreateKey).bulk.key">
                            <label [for]="'game-create-bulkcreate-' + option.key" class="col-6 col-form-label">{{option.label}}</label>
                            <div class="col-6">
                                <div class="modalAttributeInput">
                                    <ng-container *ngIf="option.type === 'length'">
                                        <input [id]="'game-create-bulkcreate-' + option.key" class="form-control hasOverlay" type="number" step="0.1" min="0.1" max="200" [value]="option.defaultValue">
                                        <span class="inputOverlay">cm</span>
                                    </ng-container>
                                    <ng-container *ngIf="option.type === 'select'">
                                        <select [id]="'game-create-bulkcreate-' + option.key" class="form-control">
                                            <option [value]="value.key" *ngFor="let value of option.values" [selected]="option.defaultValue == value.key ? 'selected' : ''">{{value.label}}</option>
                                        </select>
                                    </ng-container>
                                    <ng-container *ngIf="option.type === 'rotation'">
                                        <input [id]="'game-create-bulkcreate-' + option.key" class="form-control hasOverlay" type="number" step="1" min="0" max="360" [value]="option.defaultValue">
                                        <span class="inputOverlay">°</span>
                                    </ng-container>
                                    <ng-container *ngIf="option.type === 'image'">
                                        <input [id]="'game-create-bulkcreate-' + option.key" class="form-control" type="file" value="">
                                    </ng-container>
                                    <ng-container *ngIf="option.type === 'color'">
                                        <input [id]="'game-create-bulkcreate-' + option.key" class="form-control" type="text" [value]="option.defaultValue">
                                    </ng-container>
                                    <ng-container *ngIf="option.type === 'model'">
                                        <input [id]="'game-create-bulkcreate-' + option.key" class="form-control" type="file" value="">
                                    </ng-container>
                                    <ng-container *ngIf="option.type === 'text'">
                                        <input [id]="'game-create-bulkcreate-' + option.key" class="form-control" type="text" [value]="option.defaultValue">
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="bulkCreateCount == 0">{{bulkCreateCount}} erstellen</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="positionEditorContainer d-flex flex-column" *ngIf="positionEditorActive">
    <div class="row justify-content-center flex-shrink-0">
        <div class="col col-auto alert alert-white mg-top-lg">
            <div class="row">
                <div class="col col-auto">
                    Vorlagenelement auswählen, auf dem später dieser PieceContainer liegen wird:
                </div>
                <div class="col col-auto">
                    <select class="form-control" (input)="positionEditorTemplateElementId = $event.target.value">
                        <option value="">Tisch/Beliebig</option>
                        <ng-container *ngFor="let element of elements; let i = index">
                            <option *ngIf="i != currentElementIndex && ['tile_v1', 'card_v1', 'board_v1'].indexOf(element.type) > -1" [value]="element.id">{{element.id}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" (click)="savePositionEditor()">Speichern</button>
                    <button class="btn btn-secondary" (click)="cancelPositionEditor()">Abbrechen</button>

                    <div class="btn-group btn-group-sm pull-right mg-top-sm" data-toggle="buttons">
                        <label class="btn btn-secondary active" (click)="positionEditorTool = 'createPoint'">
                            <input type="radio" autocomplete="off" checked> + Punkt
                        </label>
                        <label class="btn btn-secondary" (click)="positionEditorTool = 'deletePoint'">
                            <input type="radio" autocomplete="off"> - Punkt
                        </label>
                        <label class="btn btn-secondary" (click)="positionEditorTool = 'createJoint'; positionStartJointIndex = null">
                            <input type="radio" autocomplete="off"> + Verbindung
                        </label>
                        <label class="btn btn-secondary" (click)="positionEditorTool = 'deleteJoint'">
                            <input type="radio" autocomplete="off"> - Verbindung
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="positionEditorTool == 'createJoint'">
                <div class="col">
                    <div class="btn-group btn-group-sm pull-right">
                        <button class="btn btn-secondary" (click)="selectAllSlotIndexes()">Alle</button>
                        <button class="btn btn-secondary" (click)="deselectAllSlotIndexes()">Keine</button>
                    </div>
                    <div class="btn-group btn-group-sm pull-right" data-toggle="buttons">
                        <label class="btn btn-secondary active" *ngFor="let slotIndex of templatePlayerSlotIndexes" [style]="'box-shadow: 0 0 5px ' + templatePlayerColors[slotIndex] + ' inset' | safeStyle">
                            <input type="checkbox" [id]="'templatePlayerSlotIndex' + slotIndex" autocomplete="off" checked> {{slotIndex}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 overflow-auto">
        <div [class]="'positionTemplateContainer ' + positionEditorTool" #templateContainer [style]="'width: ' + (getWidthOfTemplate() + templatePadding * 2) + 'px; height: ' + (getHeightOfTemplate() + templatePadding * 2) + 'px; padding-left: ' + (getWidthOfTemplate() / 2 + templatePadding) + 'px; padding-top: ' + (getHeightOfTemplate() / 2 + templatePadding) + 'px;' | safeStyle">
            <div class="positionTemplateBackground pointer-none" [style]="'width: ' + getWidthOfTemplate() + 'px; height: ' + getHeightOfTemplate() + 'px; left: ' + templatePadding + 'px; top: ' + templatePadding + 'px; background-image: url(' + getImageOfTemplate() + '); background-size: ' + getWidthOfTemplate() + 'px ' + getHeightOfTemplate() + 'px;' | safeStyle"></div>
            <svg class="arrowContainer" [attr.width]="getWidthOfTemplate() + templatePadding * 2" [attr.height]="getHeightOfTemplate() + templatePadding * 2">
                <defs>
                  <marker id='arrowOuter' orient="auto"
                    [attr.markerWidth]='20' [attr.markerHeight]='20'
                    [attr.refX]='elements[currentElementIndex].element.stackElementRadius * templateFactor / 4 + 7' [attr.refY]='4.5'>
                    <!-- triangle pointing right (+x) -->
                      <path d='M0,0 L0,9 L9,4.5 z' fill="black"></path>
                  </marker>
                  <marker id='arrowInner' orient="auto"
                    [attr.markerWidth]='10' [attr.markerHeight]='10'
                    [attr.refX]='elements[currentElementIndex].element.stackElementRadius * templateFactor / 4 + 6' [attr.refY]='3'>
                    <!-- triangle pointing right (+x) -->
                      <path d='M0,0 L0,6 L6,3 z' fill="white"></path>
                  </marker>
                </defs>
                <ng-container *ngFor="let arrow of positionArrows">
                    <line [attr.x1]="arrow.from.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y1]="arrow.from.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" [attr.x2]="arrow.to.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y2]="arrow.to.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" stroke="black" stroke-width="6"></line>
                    <line marker-end="url(#arrowOuter)" [attr.x1]="arrow.from.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y1]="arrow.from.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" [attr.x2]="arrow.to.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y2]="arrow.to.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" stroke-width="2"></line>
                </ng-container>
                <ng-container *ngFor="let arrow of positionArrows">
                    <ng-container *ngIf="arrow.allowedSlotIndexes.length == templatePlayerCount">
                        <line [attr.x1]="arrow.from.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y1]="arrow.from.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" [attr.x2]="arrow.to.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y2]="arrow.to.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" [attr.stroke]="'white'" stroke-width="2"></line>
                    </ng-container>
                    <ng-container *ngIf="arrow.allowedSlotIndexes.length < templatePlayerCount">
                        <ng-container *ngFor="let slotIndex of arrow.allowedSlotIndexes; let i = index">
                            <line [attr.x1]="arrow.from.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y1]="arrow.from.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" [attr.x2]="arrow.to.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y2]="arrow.to.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" [attr.stroke]="templatePlayerColors[slotIndex]" [attr.stroke-dasharray]="'0,' + (i * 10) + ',10,' + ((arrow.allowedSlotIndexes.length - 1 - i) * 10)" stroke-width="2"></line>
                        </ng-container>
                    </ng-container>
                    <line marker-end="url(#arrowInner)" [attr.x1]="arrow.from.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y1]="arrow.from.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" [attr.x2]="arrow.to.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y2]="arrow.to.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" stroke="transparent" stroke-width="2"></line>

                    <line [attr.x1]="arrow.from.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y1]="arrow.from.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" [attr.x2]="arrow.to.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding" [attr.y2]="arrow.to.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding" stroke="transparent" stroke-width="20" (click)="clickJoint(arrow)">
                        <title *ngIf="arrow.allowedSlotIndexes.length == templatePlayerCount">Für alle Spieler</title>
                        <title *ngIf="arrow.allowedSlotIndexes.length < templatePlayerCount">Nur für Spieler {{arrow.allowedSlotIndexes.join(', ')}}</title>
                    </line>
                </ng-container>
            </svg>
            <div class="point pointer-none" [ngClass]="{'pointer-none': positionEditorTool == 'createPoint', 'selected': positionEditorTool == 'createJoint' && i == positionStartJointIndex}" *ngFor="let position of positionEditorPositions; let i = index" (click)="clickPoint(i)" [style]="'left: ' + (position.x * templateFactor + getWidthOfTemplate() / 2 + templatePadding - elements[currentElementIndex].element.stackElementRadius / 2 * templateFactor) + 'px; top: ' + (position.y * templateFactor + getHeightOfTemplate() / 2 + templatePadding - elements[currentElementIndex].element.stackElementRadius / 2 * templateFactor) + 'px; width: ' + (elements[currentElementIndex].element.stackElementRadius * templateFactor) + 'px; height: ' + (elements[currentElementIndex].element.stackElementRadius * templateFactor) + 'px; border-radius: ' + (elements[currentElementIndex].element.stackElementRadius * templateFactor / 2) + 'px;' | safeStyle"></div>
            <div class="point preview pointer-none" *ngIf="positionEditorTool == 'createPoint'" [style]="'width: ' + (elements[currentElementIndex].element.stackElementRadius * templateFactor) + 'px; height: ' + (elements[currentElementIndex].element.stackElementRadius * templateFactor) + 'px; border-radius: ' + (elements[currentElementIndex].element.stackElementRadius * templateFactor / 2) + 'px;' | safeStyle"></div>
        </div>
    </div>
</div>