<div class="container">
    <div class="row">
        <div class="col">
            <h2>Spiele</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-info" *ngIf="loading">
                Lade Spielliste...
            </div>

            <div class="alert alert-danger" *ngIf="!loading && error">
                {{error}}
            </div>

            <div class="card-deck" *ngIf="!loading && !error">
                <div *ngFor="let game of games" class="card" style="width: 10rem;">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-block">
                        <h4 class="card-title">
                            {{game.name}}
                            <small class="float-right text-muted version">{{game.version}}</small>
                        </h4>
                        <p class="card-text description">{{game.description}}</p>
                        <p class="card-text text-muted" *ngIf="game.minPlayers == game.maxPlayers">Für {{game.minPlayers}} Spieler.</p>
                        <p class="card-text text-muted" *ngIf="game.minPlayers != game.maxPlayers">Für {{game.minPlayers}} bis {{game.maxPlayers}} Spieler.</p>
                    </div>
                    <div class="card-footer">
                        <a [routerLink]="['/matches/create', game.key]" class="btn btn-primary disabled" *ngIf="!user || !game.contractWithOwner || user.currentMatch">Erstellen</a>
                        <a [routerLink]="['/matches/create', game.key]" class="btn btn-primary" *ngIf="user && game.contractWithOwner && !user.currentMatch">Erstellen</a>


                        <a [routerLink]="['/matches/list', game.key]" class="btn btn-secondary" *ngIf="!user || user.currentMatch">Zuschauen</a>
                        <a [routerLink]="['/matches/list', game.key]" class="btn btn-secondary" *ngIf="user && !user.currentMatch">Beitreten</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>