<div class="container">
    <div class="row">
        <div class="col">
            <h2>Impressum</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Diese Webseite wird betrieben von:</h3>
            <p>Michael Wolf<br>Münsterstr. 403<br>40470 Düsseldorf<br>wulf1337@gmail.com<br>01511 2724981</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Cookies:</h3>
            <p>Ja, wir speichern Cookies, damit ihr eingeloggt bleibt und euer Username gemerkt wird.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Datenschutz:</h3>
            <p>Bei der Anmeldung wird u.a. eure Email abgefragt. Diese wird gespeichert, um euch z.B. ein neues Passwort zuschicken zu können.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Urheberrechtszeugs:</h3>
            <p>Wenn ihr auf dieser Webseite etwas findet, für das ihr das Urheberrecht besitzt und nicht möchtet, dass es hier zur Verfügung steht, so könnt ihr mir an die o.g. Emailadresse eine Nachricht mit Bitte um Entfernung schicken. Ich werde dies dann schnellstmöglich von der Seite nehmen.</p>
        </div>
    </div>
</div>