<div class="navbarRow" id="matchNavbar" *ngIf="currentMatch">
    <div class="navbar-text matchId">
        <div class="text-muted">Partie # {{currentMatch.id}}</div>
        <div>
            <span *ngIf="currentMatch.state === MatchState.open" class="text-warning">Offen</span>
            <span *ngIf="currentMatch.state === MatchState.running" class="text-success">Läuft</span>
            <span *ngIf="currentMatch.state === MatchState.finished">Beendet</span>
            <span *ngIf="currentMatch.state === MatchState.canceled" class="text-danger">Abgebrochen</span>
        </div>
    </div>
    <div class="navbar-text gameName">{{currentMatch.game.name}}</div>
    <div class="navbar-text statusMessage flex-grow-1">
        <span *ngIf="currentMatch.state === MatchState.open">Warte auf weitere Spieler oder darauf, dass der Spielleiter das Spiel startet</span>
        <span *ngIf="currentMatch.state === MatchState.running && currentMatch.statusMessage" [innerHTML]="matchService.formatText(currentMatch, currentMatch.statusMessage) | safeHtml"></span>
        <span *ngIf="currentMatch.state === MatchState.canceled">Der Spielleiter hat das Spiel abgebrochen oder das Spiel ist abgestürzt</span>
        <button type="button" class="btn btn-primary pointer-auto" (click)="startMatch()" *ngIf="currentMatch.state === MatchState.open && isLoggedIn() && isMe(currentMatch.masterUserId)">Starten</button>
        <button type="button" class="btn btn-danger pointer-auto" (click)="cancelMatch()" *ngIf="currentMatch.state === MatchState.open && isLoggedIn() && isMe(currentMatch.masterUserId)">Abbrechen</button>
    </div>
    <div class="navbar-text pull-right">
    </div>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a href="#" class="nav-link" (click)="parentComponent.switchNavbar(0)">Zum Hauptmenü</a>
        </li>
    </ul>
</div>