<div class="sceneContainer" #sceneContainer></div>
<div *ngIf="match" class="overlay d-flex flex-column pointer-none">
    <div class="pointer-auto">
        <div class="card-group">
            <ng-container *ngFor="let slot of match.slots; let i = index">
                <div class="card" *ngIf="match.state == MatchState.open || slot.user !== null">
                    <div class="card-block"
                         [style.backgroundColor]="TinyColor(slot.color).brighten(90).desaturate(20).toString()"
                         [style.color]="TinyColor(slot.color).darken(10).desaturate(10).toString()">

                        <h4 class="card-title" *ngIf="slot.user">
                            <i class="fa fa-cog fa-spin fa-2x fa-fw" *ngIf="match.state === MatchState.running && slot.user !== null && slot.active"></i>
                            {{slot.user.displayName}}
                        </h4>
                        <span class="text-muted" *ngIf="slot.user !== null && match.state !== MatchState.open">
                            {{slot.points}} <span *ngIf="slot.points == 1">Punkt</span><span *ngIf="slot.points != 1">Punkte</span>
                        </span>
                        <span class="text-muted" *ngIf="slot.user === null">Frei</span>
                    </div>
                    <div class="card-footer" *ngIf="match.state === MatchState.open && isLoggedIn() && isMe(slot.user) && !isMe(match.masterUserId)">
                        <button type="button" class="btn btn-danger btn-sm" (click)="leave()">Verlassen</button>
                    </div>
                    <div class="card-footer" *ngIf="match.state === MatchState.open && isLoggedIn() && slot.user === null && !isJoined()">
                        <button type="button" class="btn btn-primary btn-sm" (click)="join(i)">Beitreten</button>
                    </div>
                    <div class="card-footer" *ngIf="match.state === MatchState.open && isLoggedIn() && slot.user === null && isJoined()">
                        <button type="button" class="btn btn-secondary btn-sm" (click)="switchSlot(i)">Wechseln</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="flex-grow-1 d-flex">
        <div class="flex-grow-1"></div>
        <div class="chat pointer-auto" angular2-auto-scroll lock-y-offset="10" observe-attributes>
            <div class="notification" *ngFor="let notification of match.notifications">
                <div class="time">{{formatTime(notification.time)}}</div>
                <div class="text" [innerHTML]="matchService.formatText(match, notification.text) | safeHtml"></div>
            </div>
        </div>
    </div>
</div>