#matchNavbar {
    align-items: center
}

.navbar-text {
    padding: 0 .5rem;
}

.matchId {
    font-size: 80%;
    text-align: center;
}

.gameName {
    font-size: 1.5rem;
    font-weight: bold;
}

.statusMessage {
    font-size: 1.2rem;
}