<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                Partien
                <small class="text-muted" *ngIf="filterGame">Nur {{filterGame.name}}</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list-group">
                <a [routerLink]="['/matches', match.id]" class="list-group-item list-group-item-action" *ngFor="let match of matches">
                    <div class="w-100"><h5>Partie #{{match.id}}</h5></div>
                    <div>{{match.game.name}}</div>
                </a>
            </div>
        </div>
    </div>
</div>