<div class="navbarRow" *ngIf="!currentMatch">
    <div class="navbar-text">
        {{loadingState}}
    </div>
</div>
<div class="navbarRow" *ngIf="currentMatch">
    <div class="navbar-text matchId">
        <div class="text-muted">Partie # {{currentMatch.id}}</div>
        <div>
            <span *ngIf="currentMatch.state === MatchState.open" class="text-warning">Offen</span>
            <span *ngIf="currentMatch.state === MatchState.running" class="text-success">Läuft</span>
            <span *ngIf="currentMatch.state === MatchState.finished">Beendet</span>
            <span *ngIf="currentMatch.state === MatchState.canceled" class="text-danger">Abgebrochen</span>
        </div>
    </div>
    <div class="navbar-text gameName">{{currentMatch.game.name}}</div>
    <div class="navbar-text statusMessage flex-grow-1">
        <span *ngIf="currentMatch.state === MatchState.open">Warte auf weitere Spieler oder darauf, dass der Spielleiter das Spiel startet</span>
        <span *ngIf="currentMatch.state === MatchState.running && currentMatch.statusMessage" [innerHTML]="matchService.formatText(currentMatch, currentMatch.statusMessage) | safeHtml"></span>
        <span *ngIf="currentMatch.state === MatchState.canceled">Der Spielleiter hat das Spiel abgebrochen oder das Spiel ist abgestürzt</span>
    </div>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="currentMatch.state === MatchState.open && isLoggedIn() && isMe(currentMatch.masterUserId)">
            <a href="#" class="nav-link" (click)="startMatch()">Partie starten</a>
        </li>
        <li class="nav-item" *ngIf="currentMatch.state === MatchState.open && isLoggedIn() && isMe(currentMatch.masterUserId)">
            <a href="#" class="nav-link" (click)="cancelMatch()">Lobby auflösen</a>
        </li>

        <li class="nav-item" *ngIf="currentMatch.state === MatchState.finished || currentMatch.state == MatchState.canceled || !isJoined()">
            <a [routerLink]="['/matches']" class="nav-link">Partie schließen</a>
        </li>
        <li class="nav-item" *ngIf="isJoined() && currentMatch.state !== MatchState.finished && currentMatch.state !== MatchState.canceled">
            <a href="#" class="nav-link" (click)="parentComponent.switchNavbar(0)">Zum Hauptmenü</a>
        </li>
    </ul>
</div>