<nav class="navbar navbar-toggleable-sm sticky-top navbar-light bg-faded" (mouseenter)="navbarEntered()" (mouseleave)="navbarLeft()">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Navigation einblenden/ausblenden">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand">{{title}}</span>
    <div class="collapse navbar-collapse" id="navbarContent">
        <div [ngClass]="'navbarStack ' + navbarLayer">
            <div class="navbarRows">
                <div class="navbarRow">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" routerLinkActive="active">
                            <a [routerLink]="['/dashboard']" class="nav-link">Startseite</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a [routerLink]="['/games']" class="nav-link">Spiele</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a [routerLink]="['/matches']" class="nav-link">Partien</a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a [routerLink]="['/impressum']" class="nav-link">Impressum</a>
                        </li>
                    </ul>
                    <div class="pull-right">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item" *ngIf="user != null && user.currentMatch != null" routerLinkActive="active">
                                <a [routerLink]="['/matches', user.currentMatch.id]" class="nav-link" (click)="switchNavbar(1)">Du bist gerade im Spiel <strong>{{user.currentMatch.gameName}}</strong></a>
                            </li>
                            <li class="nav-item" *ngIf="userStatus != 'loggingOut' && user">
                                <div class="navbar-text">Eingeloggt als <strong>{{user.displayName}}</strong></div>
                            </li>
                            <li class="nav-item" *ngIf="userStatus != 'loggingOut' && user">
                                <a href="#" class="nav-link" (click)="logoutUser();">Logout</a>
                            </li>
                            <li class="nav-item" *ngIf="userStatus == 'loggingOut'">
                                <div class="navbar-text">Logge aus...</div>
                            </li>
                            <li class="nav-item" *ngIf="!user">
                                <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Einloggen</a>
                            </li>
                            <li class="nav-item" *ngIf="!user">
                                <a href="#" class="nav-link" data-toggle="modal" data-target="#registerModal">Registrieren</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <matchNavbar [parentComponent]="self"></matchNavbar>
            </div>
        </div>
    </div>
</nav>