<div class="modal" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (submit)="registerUser()">
                <div class="modal-header">
                    <h5 class="modal-title">Registrieren</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p *ngIf="userStatus == 'registering'">Registriere...</p>
                    <div class="form-group" [ngClass]="{'has-danger': registerErrors.username}">
                        <label for="registerUsername">Username:</label>
                        <input type="text" class="form-control" id="registerUsername" required [disabled]="userStatus == 'registering'">
                        <div class="form-control-feedback">{{registerErrors.username}}</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-danger': registerErrors.email}">
                        <label for="registerEmail">Email:</label>
                        <input type="email" class="form-control" id="registerEmail" required [disabled]="userStatus == 'registering'">
                        <div class="form-control-feedback">{{registerErrors.email}}</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-danger': registerErrors.email2}">
                        <label for="registerEmail2">Emailwiederholung:</label>
                        <input type="email" class="form-control" id="registerEmail2" required [disabled]="userStatus == 'registering'">
                        <div class="form-control-feedback">{{registerErrors.email2}}</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-danger': registerErrors.password}">
                        <label for="registerPassword">Passwort:</label>
                        <input type="password" class="form-control" id="registerPassword" required [disabled]="userStatus == 'registering'">
                        <div class="form-control-feedback">{{registerErrors.password}}</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-danger': registerErrors.password2}">
                        <label for="registerPassword2">Passwortwiederholung:</label>
                        <input type="password" class="form-control" id="registerPassword2" required [disabled]="userStatus == 'registering'">
                        <div class="form-control-feedback">{{registerErrors.password2}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="userStatus == 'registering'">Registrieren</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                </div>
            </form>
        </div>
    </div>
</div>