<div class="modal" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (submit)="loginUser()">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p *ngIf="userStatus == 'loggingIn'">Logge ein...</p>
                    <div class="form-group">
                        <label for="loginUsername">Username / Email:</label>
                        <input type="text" class="form-control" id="loginUsername" [value]="loginUsername" [disabled]="userStatus == 'loggingIn'">
                    </div>
                    <div class="form-group" [ngClass]="{'has-danger': loginError}">
                        <label for="loginPassword">Passwort:</label>
                        <input type="password" class="form-control" id="loginPassword" [disabled]="userStatus == 'loggingIn'">
                        <div class="form-control-feedback" *ngIf="loginError">Ungültiger Username oder Passwort</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="userStatus == 'loggingIn'">Einloggen</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                </div>
            </form>
        </div>
    </div>
</div>